<div style="width:400px">
    <mat-toolbar>
        <div fxLayout="row" fxLayoutAlign="start center" fxFill>
            <mat-icon class="menu-icon">settings</mat-icon>
            <div fxFlex>Settings</div>
            <div><button mat-mini-fab (click)="close.emit()"><mat-icon>close</mat-icon></button></div>
        </div>
    </mat-toolbar>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="menu-icon">person</mat-icon>Sender
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-config-sender (configChanged)="saveSender($event)"></app-config-sender>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="menu-icon">mail</mat-icon>SMTP
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-config-smtp (configChanged)="saveSmtp($event)"></app-config-smtp>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="menu-icon">list</mat-icon>Log
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-config-log (configChanged)="saveMailingLog($event)"></app-config-log>
        </mat-expansion-panel>
    </mat-accordion>
</div>