<form [formGroup]="merge" novalidate>
    <mat-form-field>
        <input formControlName="name" matInput placeholder="Mailing name">
    </mat-form-field>
    <div fyLayout="row" fxLayoutAlign="start center">
        <mat-form-field>
            <input formControlName="datasourceFileName" matInput placeholder="Data source file">
        </mat-form-field>
        <button (click)="sourceFileInput.click()" mat-mini-fab style="margin-left:10px;">
            <mat-icon>folder_open</mat-icon>
            <input #sourceFileInput type="file" [accept]="sourceFileAccept" (change)="sourceFileSelected($event)" style="display:none;"
            />
        </button>
    </div>
    <div fyLayout="row" fxLayoutAlign="start center">
        <mat-form-field>
            <input formControlName="templateFileName" matInput placeholder="Template file">
        </mat-form-field>
        <button (click)="templateFileInput.click()" mat-mini-fab style="margin-left:10px;">
            <mat-icon>folder_open</mat-icon>
            <input #templateFileInput type="file" [accept]="templateFileAccept" (change)="templateFileSelected($event)" style="display:none;"
            />
        </button>
    </div>

    <mat-card *ngIf="datasourceLoaded || true" style="margin-top: 10px;">
        <mat-card-header>Data binding for mailing</mat-card-header>

        <div fyLayout="row" fxLayoutAlign="space-around center">
            <mat-form-field fxFlex="30%">
                <mat-select formControlName="emailField" placeholder="EMail column">
                    <mat-option *ngFor="let fieldName of availableFieldsForEmail" [value]="fieldName">{{ fieldName }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="30%">
                <mat-select formControlName="lastNameField" placeholder="Last name or full name column">
                    <mat-option *ngFor="let fieldName of availableFieldsForLastName" [value]="fieldName">{{ fieldName }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="30%">
                <mat-select formControlName="firstNameField" placeholder="First name column">
                    <mat-option *ngFor="let fieldName of availableFieldsForFirstName" [value]="fieldName">{{ fieldName }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card>
</form>